In [141]:
#preset1 - 패키지 opt1 - 구글드라이브에 설치하기
import os, sys
from google.colab import drive

#preset1 -  Colab Notebooks 안에 .env 폴더에 패키지 저장 ( 심볼링 링크가 작동 안된다. )
"""
drive.mount('/content/drive')
my_path = '/content/notebooks'
os.symlink('/content/drive/My Drive/_ColabNotebooks/.env', my_path) # 기존 path를 바꿔치기
sys.path.insert(0, my_path)
"""
#preset1 -  Dependency - 위 preinstall 작업을 안하면, 세션 할당시 매번 install
"""
!pip install --target=$my_path finance_datareader
"""

#preset1 - 패키지 opt2 - 매번 설치하기

# !pip install finance_datareader

#preset -  my_data있는 드라이브 마운트
drive.mount('/content/drive')
prefix_path = "/content/drive/My Drive/_ColabNotebooks/"


import pandas as pd
import numpy as np

#preset - 주피터 노트북 여러줄 출력
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

#preset - pandas
pd.set_option("display.float_format",lambda x: '%.3f'%x) # 소수점 6자리 > 3자리만 보여달라
pd.set_option("max_columns",None) # 컬럼을 ... 으로 요약하지 마라 ( row는 요약되어있다.)
# pd.DataFrame(np.random.randn(1000,300))

"\ndrive.mount('/content/drive')\nmy_path = '/content/notebooks'\nos.symlink('/content/drive/My Drive/_ColabNotebooks/.env', my_path) # 기존 path를 바꿔치기\nsys.path.insert(0, my_path)\n"

'\n!pip install --target=$my_path finance_datareader\n'

Mounted at /content/drive

### Series 요약

In [ ]:
"""
#시리즈

## 시리즈 생성 
- 1.배열+인덱스배열 
- 2.dict


## 메타 정보 읽기
- np.nan 타입이 있다. (특별한 타입, null같은존재??)
- len(s)    ( nan 포함 길이 )
- s.shape   ( nan 포함 길이 )
- s.count() ( nan 안포함 갯수)

## 읽기

- head,tail (상,하위 요소 읽기)
- index,
- 슬라이싱
 


## 가공
- s.unique    ( nan 포함 )
- s.nunique = 유니크 후 count ( nan 미포함 )
- s.value_counts = 유니크 후 각각의 갯수  ( nan 미포함 )



## 연산
- 덧셈 : index가 있다면 index끼리 연산이 된다.

"""

'\n#시리즈\n\n## 시리즈 생성 \n- 1.배열+인덱스배열 \n- 2.dict\n\n\n## 메타 정보 읽기\n- np.nan 타입이 있다.\n- 길이 len(s) ( nan 포함 )\n- 갯수 s.count ( nan 안포함 )\n- s.shape\n\n## 읽기\n\n- index,\n- 슬라이싱\n- 상(하)위 요소 읽기 head,tail  \n\n\n## 가공\n- s.unique\n- s.nunique = 유니크 후 count\n- s.value_counts = 유니크 후 각각의 갯수\n\n\n\n## 연산\n- 덧셈 : index가 있다면 index끼리 연산이 된다.\n\n'

### DF 요약 - 1

In [ ]:
"""
# 데이터 프레임

## 데이터 프레임 create

- [1] dict으로 생성, key값이 *columns, value는 iterable ( 크기에 대한 정렬 필수 )
- [2] 2차원 배열로 생성 ( index의 default는 숫자로 생성된다. 마치 바닐라 2차원 배열처럼 )
* options : index,columns 지정하기

* iterable 객체면 생성이 된다. (range,[ ], np.arange, np.array, pd.Series )
* 시리즈에서는 index가 있었다, 데이터 프레임은 index, columns 가 존재
* value가 Series라면, index를 비교해서 outter join 하게 된다. null 대신 nan 타입이 들어옴

- s2 = s.copy() # 깊은 복사

## 데이터 프레임 update

- 새로운 컬럼 'c4' 추가
*df['c4'] = pd.Series([1,2,3,4], index=[0, 1, 2, 10])
* index align check

- index
s.index : index 이름 자체를 바꾸기
s2.index = s2.index.astype(int) # index의 형변환. str > int (리턴)
df.set_index("c5") : 특정 컬럼을, 인덱스 컬럼으로 변경 후 (리턴)

- Reindexing() : 특정 index만 골라내 (리턴)
*s2.reindex(['a', 'f'], fill_value=0)  # fill 0 insteand of Nan
*s3.reindex(np.arange(0,7), method='ffill') # forward fill - nan을 이전값으로 매꿔라.
"""

"\n# 데이터 프레임\n\n## 데이터 프레임 create\n\n- [1] dict으로 생성, key값이 *columns, value는 iterable ( 크기에 대한 정렬 필수 )\n- [2] 2차원 배열로 생성 ( index의 default는 숫자로 생성된다. 마치 바닐라 2차원 배열처럼 )\n* options : index,columns 지정하기\n\n* iterable 객체면 생성이 된다. (range,[ ], np.arange, np.array, pd.Series )\n* 시리즈에서는 index가 있었다, 데이터 프레임은 index, columns 가 존재\n* value가 Series라면, index를 비교해서 outter join 하게 된다. null 대신 nan 타입이 들어옴\n\n\n## 데이터 프레임 update\n- 새로운 컬럼 'c4' 추가\n*df['c4'] = pd.Series([1,2,3,4], index=[0, 1, 2, 10])\n* index align check\n"

### fdr 요약

In [ ]:
"""

# finance_datareader

## 설치 및 임포트
# !pip install finance_datareader
import FinanceDataReader as fdr

## 데이터 읽기
# KODEX 200 (ETF)
df2 = fdr.DataReader("069500", '2018-01-02', '2018-10-30')

eg)
import FinanceDataReader as fdr

# 예제 - ETF로 reindexing (삼전의 2번째 날의 데이터가 사라졌다.)
# 삼전(005930),코덱스200(069500)

df1 = fdr.DataReader('005930','2018-01-02','2018-10-30')
df2 = fdr.DataReader('069500','2018-01-02','2018-10-30')
df1 = df1.drop(pd.to_datetime('2018-01-03'))
df1.shape,df2.shape
# df1.head()
# df2.index # dtype='datetime64[ns]'
df1 = df1.reindex(df2.index,method="ffill")
df1.head()

"""

In [139]:
import FinanceDataReader as fdr

# 예제 - ETF로 reindexing (삼전의 2번째 날의 데이터가 사라졌다.)
# 삼전(005930),코덱스200(069500)

df1 = fdr.DataReader('005930','2018-01-02','2018-10-30')
df2 = fdr.DataReader('069500','2018-01-02','2018-10-30')
df1 = df1.drop(pd.to_datetime('2018-01-03'))
df1.shape,df2.shape
# df1.head()
# df2.index # dtype='datetime64[ns]'
df1 = df1.reindex(df2.index,method="ffill")
df1.head()

((201, 6), (202, 6))

             Open   High    Low  Close  Volume  Change
Date
2018-01-02  51380  51400  50780  51020  169485   0.001
2018-01-03  51380  51400  50780  51020  169485   0.001
2018-01-04  52120  52180  50640  51080  233909  -0.010
2018-01-05  51300  52120  51200  52120  189623   0.020
2018-01-08  52400  52520  51500  52020  167673  -0.002

### DF 요약 - 2

In [ ]:
"""

"""

,ticker,매출액(억원),영업이익률(%),순이익률(%),당기순이익(억원),ROE(%),ROA(%),ROIC(%),EPS(원),BPS(원),SPS(원),PER(배),PBR(배),PSR(배),price,price2
0,AK홀딩스,28071.479,3.787,-1.334,-374.431,-7.677,-1.421,15.120,-3245.741,43497.723,211899.220,-19.472,1.453,0.298,63200.000,56000.000
1,BGF,43342.800,4.236,3.526,1528.413,22.771,10.327,271.957,3071.872,15605.457,87779.875,28.779,5.665,1.007,44202.000,42140.000
2,BNK금융지주,51740.254,13.455,10.253,5304.712,9.116,0.609,nan,1853.180,21665.062,19749.037,4.544,0.389,0.426,8420.000,8680.000
3,BYC,1821.960,11.598,7.222,131.581,3.546,2.024,13.235,15693.808,453030.620,216899.980,29.279,1.014,2.118,459500.000,397000.000
4,CJ,211667.080,5.789,2.604,5511.155,5.874,2.365,5.821,5780.626,110304.560,594563.900,40.944,2.146,0.398,236684.000,176334.000

In [148]:
# eg - 순이익률이 영업이익률을 넘은 기업의 수와,퍼센테이지를 구해라.

df = pd.read_csv(prefix_path+"my_data/naver_finance/2015_12.csv")
a = df['순이익률(%)'] > df['영업이익률(%)']
len(a),a.sum(),a.mean() # (681, 142, 0.20851688693098386)

# 681 개의 기업중 , 142개 기업이 조건을 만족, 이는 0.2 비율임.

(681, 142, 0.20851688693098386)

In [153]:
a = np.array([[1,2,3],[2,3,4]])
a.sum(axis=0) # array([3, 5, 7])
a.sum(axis=1) # array([6, 9])

array([3, 5, 7])

array([6, 9])